/Ejercicios en Clase/EjercicioPreguntas/nbproject/private/
/Ejercicios en Clase/juegoAritmetico/nbproject/private/
/Ejercicios en Clase/juegoAritmetico/build/
/Ejercicios en Clase/EjercicioSoquets/nbproject/private/
/Ejercicios en Clase/EjercicioSoquets/build/
/Laboratorios/Laboratorio3/Lab3/build/
/Laboratorios/Laboratorio3/Lab3/nbproject/private/
/Laboratorios/Laboratorio1/EjercicioSoquets/build/
/Laboratorios/Laboratorio1/EjercicioSoquets/nbproject/private/
